{% include "components/head.html" %}
{% include "components/navbar.html" %}

<div class="container-fluid  ikake-jumbotron"
     style="background-image: url('data:image/png;base64, {{ book.cover }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;">
</div>
<div class="container-fluid ikake-jumbotron-title"  style="z-index: 1">
    <div class="container" style="z-index: 10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="ikawe-btn-link-light" href="{{ url_for('main') | safe }}">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a class="ikawe-btn-link-light" href="{{ url_for('dashboard_bp.page_dashboard') | safe }}">Librería</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ book.book }}</li>
          </ol>
        </nav>
    </div>
    <div class="container text-center">
        <h1 class="display-5">{{book.book}}.</h1>
    </div>
</div>

<div class="container-fluid ikake-jumbotron-content">
    <div class="container p-2 racoon-container-library">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-9 p-4">
                <h1 class="border-bottom p-2">{{ book.book }}</h1>
                <p class="p-2">
                    <span class="badge ikawe-badge">{{ book.author }}</span>
                    <span class="badge ikawe-badge">{{ book.theme }}</span>
                    <span class="badge ikawe-badge">{{ book.year }}</span>
                </p>

                <p class="p-2">{{ book.summary }}</p>
            </div>
            <div class="col-3 p-4 text-center">
                {% if book.cover %}
                <img src="data:image/png;base64, {{ book.cover }}"
                        width="270" class="" alt="{{ book.book }}">
                {% else %}
                    <img src="{{ url_for('static', filename='images/no_cover.png') }}"
                         width="270" class="" alt="{{ book.book }}">
                {% endif %}
            </div>
        </div>
        <div class="row p-3">
            <p><a href="{{ book.ref_download }}" class="btn btn-lg racoon-btn-success">Descargar libro (.mobi)</a></p>
        </div>
    </div>
</div>


{% include "components/footer.html" %}
