

<div class="bg-light p-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Nombre de Libro, Autor...">
                <datalist id="datalistOptions">
                  <option value="San Francisco">
                  <option value="New York">
                  <option value="Seattle">
                  <option value="Los Angeles">
                  <option value="Chicago">
                </datalist>
            </div>
            <div class="col-2">
                <input class="form-control" type="number" id="anyo" placeholder="Año...">
            </div>
            <div class="col-1">
                <a class="btn racoon-btn-success" href="#"> Buscar </a>
            </div>

        </div>

    </div>
</div>