

<div class="bg-light p-3">
    <div class="container">
        <form method="POST" action="{{ url_for('search_bp.search') }}">
            <div class="row">
                <div class="col-11">
                    <input class="form-control" id="keywords" name="keywords" placeholder="Nombre de Libro, Autor...">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn racoon-btn-success">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>